* {
    font-size: 18px;
}

header a {
    font-size: 26px;
    color: #ffffff;
    text-decoration: none;
}

.navbar {
    margin-left: 10vw;
    margin-right: 10vw;
}

.nav-search::placeholder {
    color: #d7d7d7;
}

.user-avatar {
    height: 48px;
    width: 48px;
}

.logo {
    font-size: 40px;
}

.logo-image {
    width: 48px;
    height: 48px;
    object-fit: cover;
}


.login-info a {
    font-size: 14px;
    line-height: 100%;
}

.tags, .authors { 
    max-width: 100px;
}

.dropdown-arrow {
    color: white;
}

.question-user-avatar {
    width: 64px;
    height: 64px;
}

.question-like {
    fill: red;
}

.reaction {
    width: 24px;
}

.no-focus {
    border: none;
}

.question, .answer {
    margin-bottom: 20px;
}

.reactions {
    margin-top: 8px;
}

.question-title {
    font-size: 24px;
}

.question a {
    text-decoration: none;
}

.question-tag {
    margin-left: 10px;
    margin-right: 10px;
}

.question-text {
    margin-top: 10px;
    margin-bottom: 10px;
}