* {
    font-size: 18px;
}

html, body {
    height: 100%;
    margin: 0;
}

header a {
    font-size: 26px;
    color: #ffffff;
    text-decoration: none;
}

main {
    height: auto;
}

.wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
}

.footer, .push {
    height: 50px;
}

.navbar {
    margin-left: 10vw;
    margin-right: 10vw;
}

.nav-search::placeholder {
    color: #d7d7d7;
}

.user-avatar {
    height: 48px;
    width: 48px;
}

.logo {
    font-size: 40px;
}

.logo-image {
    width: 48px;
    height: 48px;
    object-fit: cover;
}


.login-info a {
    font-size: 14px;
    line-height: 100%;
}

.tags { 
    max-width: 100px;
}

.list-group a {
    text-decoration: none;
}

.dropdown-arrow {
    color: white;
}

.question-user-avatar, .answer-user-avatar {
    width: 64px;
    height: 64px;
}

.question-like {
    fill: red;
}

.reaction {
    width: 24px;
}

.no-focus {
    border: none;
}

.question, .answer {
    margin-bottom: 20px;
}

.reactions {
    margin-top: 8px;
}

.question-title {
    font-size: 24px;
}

.question a {
    text-decoration: none;
}

.question-tag {
    margin-left: 10px;
    margin-right: 10px;
}

.question-text {
    margin-top: 10px;
    margin-bottom: 10px;
}