.navbar {
    margin-left: 10vw;
    margin-right: 10vw;
}

.user-avatar {
    height: 48px;
    width: auto;
}

.logo {
    font-size: 40px;
}
.nav-item {
    font-size: 26px;
    color: #000000;
    text-decoration: none;
}