* {
    font-size: 16px;
}

a {
    font-size: 26px;
    color: #000000;
    text-decoration: none;
}

.navbar {
    margin-left: 10vw;
    margin-right: 10vw;
}

.user-avatar {
    height: 48px;
    width: 48px;
}

.logo {
    font-size: 40px;
}

.logo-image {
    width: 64px;
    height: 64px;
    object-fit: cover;
}


.login-info  div {
    font-size: 12px;
    line-height: 100%;
}