{% extends "layouts/base.html" %}
{% load django_bootstrap5 %}
{% block content %}

<h2 class="mb-4">Log in</h2>
<form class="g-3 needs-validation" method="post" novalidate>
    {% csrf_token %}

    {% bootstrap_form form %}
    <div class="row mb-3">
        <button type="submit" class="btn col-3 btn-primary ms-auto me-auto">Log in</button>
    </div>

    <div class="row mb-3 px-0">
        <a class="px-0 text-center" href="{% url "signup" %}">Create new account</a>
    </div>
</form>

{% endblock content %}