{% extends "layouts/base.html" %}

{% block content %}

<h2 class="mb-4">Log in</h2>
<form class="g-3 needs-validation" novalidate>
    <div class="row mb-3">
        <div class="col-1">
            <label for="login" class="form-label col-3">Login</label>
        </div>
        <div class="col-10 ms-auto  px-2">
            <input type="text" class="form-control col-9" id="login" maxlength="30" required>
            <div class="invalid-feedback">
                Please enter a login name.
            </div>
            <div class="valid-feedback">
                Correct
            </div>
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="col-1">
            <label for="loginPassword">Password</label>
        </div>
        <div class="col-10 ms-auto px-2">
            <input type="password" class="form-control col-9" id="loginPassword" maxlength="30" required>
            <div class="invalid-feedback">
                Please enter your password.
            </div>
            <div class="valid-feedback">
                Correct
            </div>
        </div>
    </div>
    
    <div class="row mb-3 offset-2">
        <button type="submit" class="btn col-3 btn-primary">Log in</button>
    </div>

    <div class="row mb-3 offset-2 px-0">
        <a class="px-0" href="#">Create new account</a>
    </div>
</form>

{% endblock content %}