{% extends "layouts/base.html" %}

{% load static %}

{% block content %}

{% include "components/answers-question.html" %}

<hr class="border border-2 border-dark opacity-75">
<div class="answers">
    {% for answer, reactions in items_with_reactions %}
    {% include "components/answers-answer.html" %}
    {% endfor %}
    {% include "components/pagination.html" %}
</div>

<hr class="border border-2 border-dark opacity-75">
<form class="row g-3">
    <div class="input-group">
        <span class="input-group-text">Your answer</span>
        <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
    <div class="col-12 text-end">
        <button type="submit" class="btn btn-primary col-3 rounded-2">Submit</button>
    </div>
</form>

{% endblock content %}