{% extends "layouts/base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
<h2 class="mb-4">User settings</h2>
<form method="POST" class="g-3 needs-validation" novalidate>
    {% csrf_token %}
    <div class="row">
        <div class="offset-1 mb-3 col-auto mx-auto">
            <div class="settings-avatar mx-auto"><img class="settings-avatar" src="{% static '/images/user_avatar_placeholder.jpeg' %}" alt=""></div>
            <div class="username h2">{{ user.username }}</div>
        </div>
    </div>
    {% bootstrap_form form %}
    <div class="row mb-3">
        <button type="submit" class="btn col-3 btn-primary ms-auto me-auto">Update</button>
    </div>
</form>
{% endblock content %}