{% load static %}

<div class="row question border border-4 rounded">
    <div class="container row my-2">
        <div class="col-2 my-auto text-center">
            <a href="#"><img class="question-user-avatar border-dark border rounded-circle" src="{{ question.author.profile.avatar.url }}" alt=""></a>
            <div class="question-username">{{ question.username }}</div>
            <div class="question-reactions reactions d-flex align-items-end justify-content-center">
                <button class="question-like btn p-0 no-focus {% if question_reaction_type == "Like" %} toggled-reaction{% endif %}" data-id="{{ question.id }}"  data-type="Like"><img class="reaction" src="{% static '/images/thumbs-up-regular.svg' %}" alt=""></button>
                <span class="fw-bold mx-2">{{ question_reactions }}</span>
                <button class="question-dislike btn p-0 no-focus {% if question_reaction_type == "Dislike" %} toggled-reaction{% endif %}" data-id="{{ question.id }}"  data-type="Dislike"><img class="reaction" src="{% static '/images/thumbs-down-regular.svg' %}" alt=""></button>
            </div>
        </div>
        <div class="col-10 my-auto">
            <div class="question-title">
                {{ question.title }}
            </div>
            <div class="question-text">
                {{ question.text }}
            </div>
            <div class="d-flex tags">
                <span>Tags:</span>
                {% for tag in question_tags %}
                    <a class="question-tag" href="{% url "tag" tag_name=tag %}">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>